.whole {
    padding: 32px 40px;
    overflow-y: auto;
    margin-top: 80px;
    margin-left: 232px;
    width: 100%;
}



.buttonSwitch {
    display: flex;
    margin-bottom: 24px;
}

.switchButton {
    padding: 12px;
    border-radius: 8px;
    border: none;
    transition: background-color 0.3s;
    font-size: 14px;
    font-weight: 500;
}

.switchButton.active {
    background-color: #0D0D0D;
    color: #FFFFFF;
    pointer-events: none;
}

.switchButton:not(.active) {
    color: #9CA3AF;
    background-color: #F3F4F6;
}



.searchButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.searchBar {
    display: inline-flex;
    align-items: center;
    margin-right: 16px;
}
.searchBar img {
    width: 18px;
    height: 18px;
}
.searchBar input {
    border: none;
    outline: none;
    margin-left: 8px;
}
.searchBar input::placeholder {
    font-size: 14px;
    color: #A4A4B1;
}


.buttonOne {
    display: inline-flex;
    align-items: center;
    margin-right: 16px;
    font-size: 12px;
    font-weight: 500;
    color: #1F2937;
}
.buttonOne select {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 12px;
    font-weight: 500;
    color: #1F2937;
    width: fit-content;
}

.buttonTwo {
    padding: 10px 16px;
    border-radius: 8px;
    background-color: #D2042D;
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    border: none;
}
.buttonTwo img {
    width: 16px;
    height: 16px;
}




.nothingBigDiv {
    display: grid;
    width: 100%;
}
.nothingFound {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    align-items: center;
}
.nothingFound img {
    width: 100%;
    height: auto;
}
.nothingFound h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #000000;
}
.nothingFound p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}




.hideTable {
    display: none;
}



.transferTable {
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;
}

.transferTable .tableCheckbox {width: 5%;}
.transferTable .action {width: 7%;}

.transferTable th {
    background-color: #F9FAFB;
    color: #374151;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-align: left;
    
    text-overflow: ellipsis;
    overflow: hidden;
}

.transferTable td {
    padding: 8px 12px;
    color: #374151;
    font-size: 12px;
    border-bottom: 1px solid #F3F4F6;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.transferTable td img {
    width: 18px;
    height: 18px;
}
.transferTable .action {
    text-align: center;
}
.transferTable .action button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.actionsClosed {
    display: none;
}

.theActions {
    display: block;
    text-align: left;
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    box-shadow: 0px 4px 12px 0px #9CA3AF33;
    position: absolute;
    z-index: 5;
    width: 10%;
    right: 2%;
}

.theActions li {
    list-style: none;
    padding: 12px 16px;
    border-bottom: 1px solid #F3F4F6;
    width: 100%;
}

.theActions .delete {
    background-color: #FEF2F2;
    border-bottom: 1px solid #FEE2E2;
}
.theActions .delete a {
    color: #DC2626;
}
.theActions .delete:hover {
    background-color: #FEE2E2;
    border-bottom: 1px solid #DC2626;
}

.theActions li a {
    display: block;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    color: #4B5563;
    width: 100%;
    height: 100%;
}

.theActions li:hover {
    background-color: #F0F5FD;
    border-bottom: 1px solid #A4C4FF;
}




.pagination {
    margin-top: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.pagination button {
    cursor: pointer;
}
.pagination button:disabled,
.pagination button[disabled] {
    pointer-events: none;
    font-weight: 400;
}

.pagination .move {
    border: none;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #9CA3AF;
    font-weight: 500;
}

.pagination .move img {
    width: 18px;
    height: 18px;
}

.activePage {
    padding: 8px;
    background-color: #FBE6EA;
    border: 1px solid #ED9BAB;
    color: #D2042D;
    font-size: 14px;
    font-weight: 500;
    pointer-events: none;
}

.gotToPage {
    border: none;
    background-color: transparent;
    padding: 8px;
    color: #9CA3AF;
    font-size: 14px;
    font-weight: 500;
}





.dimmer {
    display: none;
    background: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
}

.dim {
    display: block;
    z-index: 11;
}


.popup {
    width: 30%;
    max-height: 70%;
    overflow: hidden;
    overflow-y: scroll;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 100;
    border-radius: 8px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.popped {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.popup::-webkit-scrollbar {
    display: none;
}

.popup .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 500;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #F3F4F6;
}

.close img {
    width: 24px;
    height: 24px;
}

.popup form {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
}

.popup .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    text-align: left;
}

.formGroup label {
    font-size: 14px;
    font-weight: 500;
    color: #4B5563;
    margin-bottom: 8px;
}

.checkFormGroup {
    display: flex;
    align-items: center;
}
.checkFormGroup label {
    font-size: 14px;
    font-weight: 500;
    color: #4B5563;
}
.checkFormGroup input {
    margin-right: 8px;
}

.formGroup input,
.formGroup select {
    width: 100%;
    border: 1px solid #D1D5DB;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    padding: 10px 12px;
    outline: none;
}
.formGroup input {
    color: #9CA3AF;
    font-size: 14px;
}

.transferButton {
    bottom: 0;
    width: 100%;
    position: sticky;
    bottom: 0;
    background-color: #fff;
    padding: 0 24px 24px 24px;
}

.transferButton button {
    width: 100%;
    padding: 14px 20px;
    border-radius: 8px;
    background-color: #1C6BFF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    border: none;
    align-self: end;
}