.whole {
    padding: 32px 40px;
    overflow-y: auto;
    margin-top: 80px;
    margin-left: 232px;
}


.searchButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.searchBar {
    display: inline-flex;
    align-items: center;
    margin-right: 16px;
}
.searchBar img {
    width: 18px;
    height: 18px;
}
.searchBar input {
    border: none;
    outline: none;
    margin-left: 8px;
}
.searchBar input::placeholder {
    font-size: 14px;
    color: #A4A4B1;
}

.buttons {
    display: flex;
    align-items: center;
}

.buttonOne {
    padding: 8px 12px;
    background-color: #FBE6EA;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    margin-right: 16px;
}
.buttonOne:hover {
    background-color: #F4E0E4;
}
.buttonOne img,
.buttonTwo img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.buttonOne select {
    color: #A80324;
    font-size: 12px;
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: none;
}

.buttonTwo {
    padding: 8px 12px;
    background-color: #D2042D;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    color: #FFF;
    text-decoration: none;
}
.buttonTwo:hover {
    background-color: #BD0429;
}



.exportClosed {
    display: none;
}
.export {
    display: block;
    width: 25%;
    text-align: left;
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    box-shadow: 0px 4px 12px 0px #9CA3AF33;
    position: absolute;
    z-index: 5;
    margin-top: 550px;
    right: 30px;
}

.export .exportHeader {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    border-bottom: 1px solid #F3F4F6;
}
.exportHeader img {
    width: 24px;
    height: 24px;
}

.exportForm {
    padding: 16px;
}
.exportFormGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.exportForm label {
    font-size: 14px;
    font-weight: 500;
    color: #4B5563;
}
.exportFormGroup select {
    padding: 10px 12px;
    border: 1px solid #6B7280;
    font-size: 14px;
    font-weight: 400;
    color: #4B5563;
    outline: none;
    margin-top: 8px;
    margin-bottom: 8px;
}

.exportForm .checkboxes {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.checkboxes p {
    font-size: 16px;
    font-weight: 600;
    color: #4D4D4D;
}


.checkboxes .checkbox,
.allAccts {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.exportButton {
    padding: 16px 0 0 0;
}
.exportButton button {
    width: 100%;
    padding: 14px 20px;
    background-color: #D2042D;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
}
.exportButton button:hover {
    background-color: #BD0429;
}


.successPopup {
    width: 30%;
    max-height: 70%;
    overflow: hidden;
    overflow-y: scroll;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 100;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.successPopup::-webkit-scrollbar {
    display: none;
}

.successPopped {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.successPopup img {
    width: 60%;
    height: auto;
}

.successPopup h4 {
    margin-top: -10%;
    font-size: 24px;
    font-weight: 500;
    color: #000000;
}

.successPopup button {
    margin-top: 5%;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 14px 20px;
    border-radius: 8px;
    background-color: #D2042D;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    border: none;
    align-self: end;
}
.successPopup button:hover {
    background-color: #BD0429;
}



.dimmer {
    display: none;
    background: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
}

.dim {
    display: block;
    z-index: 11;
}





.nothingBigDiv {
    display: grid;
    width: 100%;
}
.nothingFound {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    align-items: center;
}
.nothingFound img {
    width: 100%;
    height: auto;
}
.nothingFound h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #000000;
}
.nothingFound p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}






.reportTable {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
    white-space: nowrap;
}


.reportTable th {
    background-color: #F9FAFB;
    color: #374151;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-align: left;
    white-space: wrap;
}

.reportTable td {
    padding: 8px 12px;
    color: #374151;
    font-size: 12px;
}

.reportTable td img {
    width: 18px;
    height: 18px;
}
.reportTable .action {
    text-align: center;
}
.reportTable .action button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.actionsClosed {
    display: none;
}

.theActions {
    display: block;
    text-align: left;
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    box-shadow: 0px 4px 12px 0px #9CA3AF33;
    border-radius: 8px;
    padding: 8px 0;
    position: absolute;
    z-index: 5;
    width: 15%;
    right: 2%;
}
.theActions ul {
    padding: 0 16px;
}
.theActions p {
    padding: 8px 16px;
    border-bottom: 1px solid #F9FAFB;
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    color: #4B5563;
}
.theActions li {
    list-style: none;
    padding: 12px 16px;
    border-bottom: 1px solid transparent;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    color: #4B5563;
    cursor: pointer;
}

.theActions li:last-child {
    border-bottom: none;
}
.theActions li:hover {
    background-color: #E5E7EB;
    border-bottom: 1px solid #7E8491;
}