.whole {
    padding: 32px 40px;
    overflow-y: auto;
    margin-top: 80px;
    margin-left: 232px;
    padding-bottom: 350px;
}


.searchButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.searchBar {
    display: inline-flex;
    align-items: center;
    margin-right: 16px;
}
.searchBar img {
    width: 18px;
    height: 18px;
}
.searchBar input {
    border: none;
    outline: none;
    margin-left: 8px;
}
.searchBar input::placeholder {
    font-size: 14px;
    color: #A4A4B1;
}

button, a {
    cursor: pointer;
}

.buttons {
    display: flex;
    gap: 16px;
    align-items: center;
}

.buttonOne {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: #A80324;
    background-color: #FBE6EA;
    border: none;
    border-radius: 6px;
    padding: 8px 12px;
    gap: 8px;
}
.buttonOne:hover {
    background-color: #F4E0E4;
}

.buttonTwo {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    background-color: #D2042D;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    padding: 10px 16px;
    gap: 8px;
    height: fit-content;
}
.buttonTwo:hover {
    background-color: #BD0429;
}

.buttonOne img,
.buttonTwo img {
    width: 16px;
    height: 16px;
}

.filterClosed {
    display: none;
}
.filter {
    display: block;
    right: 5%;
    width: 25%;
    text-align: left;
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    box-shadow: 0px 4px 12px 0px #9CA3AF33;
    padding: 8px;
    position: absolute;
    z-index: 5;
    top: 160px;
}
.filter p {
    padding: 4px 8px;
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: 600;
    color: #4B5563;
}
.filter a {
    display: block;
    padding: 12px 16px;
    border-bottom: 1px solid #F3F4F6;
    font-size: 12px;
    font-weight: 500;
    color: #4B5563;
    text-decoration: none;
}
.filter a:hover,
.download a:hover {
    background-color: #E5E7EB;
    border-bottom: 1px solid #7E8491;
}
.filter .customFilter {
    margin-top: 16px;
    padding: 4px 8px;
    margin-bottom: 16px;
    width: 100%;
}
.filter .customFilter p {
    font-size: 10px;
}
.customFilter .startEnd {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    justify-content: center;
}
.customFilter .startEnd input {
    outline: none;

    text-align: center;
    padding: 12px 16px;
    width: 45%;
    border: 1px solid #6B7280;
    font-size: 14px;
    font-weight: 400;
    color: #4B5563;
    padding: 10px 12px;
    outline: none;
}
.customFilter .startEnd input::placeholder {
    font-size: 14px;
    color: #4B5563;
}

.filter .reset {
    padding: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #DC2626;
    border-top: 1px solid #F3F4F6;
    border-bottom: none;
}
.filter .reset:hover {
    background-color: #FEE2E2;
    border-top: 1px solid #DC2626;
    border-bottom: none;
}



.downloadClosed {
    display: none;
}
.download {
    display: block;
    width: 15%;
    text-align: left;
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 6px;
    box-shadow: 0px 4px 12px 0px #9CA3AF33;
    padding: 8px;
    position: absolute;
    right: 2%;
    z-index: 5;
    top: 160px;
}
.download p {
    font-size: 12px;
    font-weight: 600;
    color: #4B5563;
    padding: 4px 8px;
    margin-bottom: 8px;
}
.download a {
    width: 100%;
    display: inline-flex;
    padding: 12px 16px;
    font-size: 12px;
    font-weight: 500;
    color: #4B5563;
    text-decoration: none;
    border-bottom: 1px solid #F3F4F6;
}
.download a img {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.download .csv {
    border-bottom: none;
}
.download .csv:hover {
    border-bottom: 1px solid #7E8491;
}





.nothingBigDiv {
    display: grid;
    width: 100%;
}
.nothingFound {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    align-items: center;
}
.nothingFound img {
    width: 100%;
    height: auto;
}
.nothingFound h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #000000;
}
.nothingFound p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}






.transactionTable {
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;
    table-layout: fixed;
}

.transactionTable th {
    background-color: #F9FAFB;
    color: #374151;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-align: left;
    white-space: wrap;
}

.transactionTable td {
    padding: 8px 12px;
    color: #374151;
    font-size: 12px;
    border-bottom: 1px solid #F3F4F6;
    
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.transactionTable td img {
    width: 18px;
    height: 18px;
}

.category {
    text-align: center;
}


.categoriesButton {
    width: 100%;
    border: 0.5px solid #B3B3B3;
    outline: none;
    border-radius: 6px;
    gap: 10px;
    padding: 5px 10px;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.categoriesButton p {
    font-size: 12px;
    color: #374151;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.categoriesButton img {
    width: 16px;
    height: 16px;
}

.theCategories {
    display: block;
    text-align: left;
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 6px;
    box-shadow: 0px 4px 12px 0px #9CA3AF33;
    padding: 13px;
    position: absolute;
    z-index: 5;
    margin-top: 5px;
}

.theCategories p {
    padding: 6px 13px;
    font-size: 10px;
    font-weight: 600;
    color: #4B5563;
}
.theCategories .categorySearch {
    flex: 1;
    display: inline-flex;
    align-items: center;
    padding: 10px 13px;
    border-bottom: 1px solid #F9FAFB;
}
.theCategories .categorySearch img {
    width: 15px;
    height: 15px;
}
.theCategories .categorySearch input {
    border: none;
    outline: none;
    margin-left: 10px;
    width: 100%;
}
.theCategories .categorySearch input::placeholder {
    font-size: 10px;
    color: #A4A4B1;
}

.theCategories ul {
    margin-top: 13px;
}

.theCategories li {
    list-style: none;
    padding: 10px 13px;
    border-bottom: 1px solid #F3F4F6;
    display: flex;
    cursor: pointer;

    font-size: 10px;
    font-weight: 500;
    color: #4B5563;
}
.theCategories li:last-child {
    border-bottom: none;
}
.theCategories li:hover {
    background-color: #E5E7EB;
    border-bottom: 1px solid #7E8491;
}


.transactionTable .credit {color: #1C6BFF;}
.transactionTable .debit {color: #EF4444;}