.whole {
    padding: 32px 40px;
    overflow-y: auto;
    margin-top: 80px;
    margin-left: 232px;
    width: 100%;
}


.searchButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.searchBar {
    display: inline-flex;
    align-items: center;
    margin-right: 16px;
}
.searchBar img {
    width: 18px;
    height: 18px;
}
.searchBar input {
    border: none;
    outline: none;
    margin-left: 8px;
    /* width: 100%; */
}
.searchBar input::placeholder {
    font-size: 14px;
    color: #A4A4B1;
}

.buttonOne img {
    width: 16px;
    height: 16px;
}

.buttonOne {
    padding: 8px 12px;
    background-color: #1C6BFF;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    color: #FFF;
    text-decoration: none;
    border: none;
    gap: 8px;
}


.nothingBigDiv {
    display: grid;
    width: 100%;
}
.nothingFound {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
}
.nothingFound img {
    width: 100%;
    height: auto;
}
.nothingFound h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #000000;
}
.nothingFound p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}




.workflowDivs {
    display: flex;
    gap: 24px;
}

.workflowDiv {
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
}
.workflowHeader {
    background-color: #F3F4F6;
    font-size: 14px;
    font-weight: 500;
    color: #1F2937;
    padding: 8px 16px;
    margin-bottom: 8px;
}
.workflowDiv .row {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 400;
    color: #6B7280;
    align-items: center;
    gap: 24px;
    padding: 8px 16px;
}
.workflowDiv .row img {
    width: 16px;
    height: 16px;
}
.workflowDiv .row2 {
    display: inline-flex;
    gap: 8px;
    align-items: center;
}
.workflowDiv .approvers {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F4F6;
    color: #374151;
    font-size: 12px;
    font-weight: 500;
    border-radius: 50px;
}





.dimmer {
    display: none;
    background: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
}

.dim {
    display: block;
    z-index: 11;
    pointer-events: none;
}


.popup {
    width: 30%;
    height: 70%;
    overflow: hidden;
    overflow-y: scroll;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 100;
    border-radius: 8px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.popped {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.popup::-webkit-scrollbar {
    display: none;
}

.popup .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 500;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #F3F4F6;
}

.close img {
    width: 24px;
    height: 24px;
}

.popup form {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
}

.popup .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    text-align: left;
}

.formGroup label {
    font-size: 14px;
    font-weight: 500;
    color: #4B5563;
    margin-bottom: 8px;
}

.formGroup select {
    width: 100%;
    border: 1px solid #D1D5DB;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    padding: 10px 12px;
    outline: none;
}
.formGroup option {
    color: #9CA3AF;
    font-size: 14px;
}

.submitButton {
    bottom: 0;
    width: 100%;
    position: sticky;
    bottom: 0;
    background-color: #fff;
    padding: 0 24px 24px 24px;
}

.submitButton button {
    width: 100%;
    padding: 14px 20px;
    border-radius: 8px;
    background-color: #1C6BFF;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    border: none;
    align-self: end;
}