.whole {
    padding: 32px 40px;
    overflow-y: auto;
    margin-top: 80px;
    margin-left: 232px;
}



.searchButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.searchBar {
    display: inline-flex;
    align-items: center;
    margin-right: 16px;
}
.searchBar img {
    width: 18px;
    height: 18px;
}
.searchBar input {
    border: none;
    outline: none;
    margin-left: 8px;
    width: 80%;
}
.searchBar input::placeholder {
    font-size: 14px;
    color: #A4A4B1;
}



button, a {
    cursor: pointer;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.buttonOne {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: #A80324;
    background-color: #FBE6EA;
    border: none;
    border-radius: 6px;
    padding: 8px 12px;
    gap: 8px;
}
.buttonOne:hover {
    background-color: #F4E0E4;
}


.buttonTwo {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    background-color: #D2042D;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    padding: 10px 16px;
    gap: 8px;
}
.buttonTwo:hover {
    background-color: #BD0429;
}

.buttonOne img {
    width: 16px;
    height: 16px;
}
.buttonTwo img {
    width: 16px;
    height: 16px;
}

.filterClosed {
    display: none;
}

.filter {
    display: block;
    right: 5%;
    width: 20%;
    text-align: left;
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    box-shadow: 0px 4px 12px 0px #9CA3AF33;
    padding: 8px;
    position: absolute;
    z-index: 5;
    margin-top: 31%;
}
.filter p {
    padding: 4px 8px;
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: 600;
    color: #4B5563;
}
.filter a {
    display: block;
    padding: 12px 16px;
    border-bottom: 1px solid #F3F4F6;
    font-size: 12px;
    font-weight: 500;
    color: #4B5563;
    text-decoration: none;
}
.filter a:hover,
.download a:hover {
    background-color: #E5E7EB;
    border-bottom: 1px solid #7E8491;
}
.filter .customFilter {
    margin-top: 16px;
    padding: 4px 8px;
    margin-bottom: 16px;
    width: 100%;
}
.filter .customFilter p {
    font-size: 10px;
}
.customFilter .startEnd {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    justify-content: center;
}
.customFilter .startEnd input {
    text-align: center;
    padding: 12px 16px;
    width: 45%;
    border: 1px solid #6B7280;
    font-size: 14px;
    font-weight: 400;
    color: #4B5563;
    padding: 10px 12px;
    outline: none;
}
.customFilter .startEnd input::placeholder {
    font-size: 14px;
    color: #4B5563;
}

.filter .reset {
    padding: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #DC2626;
    border-top: 1px solid #F3F4F6;
    border-bottom: none;
}
.filter .reset:hover {
    background-color: #FEE2E2;
    border-top: 1px solid #DC2626;
    border-bottom: none;
}






.nothingBigDiv {
    display: grid;
    width: 100%;
}
.nothingFound {
    width: 30%;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    align-items: center;
}
.nothingFound img {
    width: 100%;
    height: auto;
}
.nothingFound h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #000000;
}
.nothingFound p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}





.inflowTreemap,
.smallInflowTreemap {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
}
.smallInflowTreemap {
    display: none;
}
.smallInflowTreemap div {
    align-items: center;
    justify-content: center;
}
.inflowTreemap div {
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.treemapColumn  {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.treemapRow {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

.treemapBox {
    text-align: center;
    color: #1D0F0068;
    padding: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease;
    border: 2px solid #FFF;
}
.treemapBox h5 {
    font-size: 150%;
    font-weight: 600;
}
.treemapBox p {
    font-size: 70%;
    font-weight: 500;
    margin-top: -5px;
}
.treemapBox:hover {
    transition-delay: 0.3s;
    transform: scale(1.1);
}

.one { background-color: #F0E68C;}
.two {background-color: #E6E6FA;}
.three {background-color: #F5DEB3;}
.four {background-color: #FFFACD;}
.five {background-color: #CEADCE;}
.six {background-color: #E0FFFF;}
.seven {background-color: #FFE4E1;}
.eight {background-color: #F0FFF0;}
.nine {background-color: #FAFAD2;}
.ten {background-color: #F5F5F5;}
.eleven {background-color: #FFF5EE;}
.twelve {background-color: #F8F8FF;}
.thirteen {background-color: #F0F8FF;}
.fourteen {background-color: #F5FFFA;}
.fifteen {background-color: #FAEBD7;}
.sixteen {background-color: #FFDBA0;}
.seventeen {background-color: #FBD5E2;}
.eithteen {background-color: #FFEFD1;}
.nineteen {background-color: #DFD5C1;}
.twenty {background-color: #FFE168;}
.twentyone {background-color: #FFF8DC;}
.twentytwo {background-color: #F0FFFF;}
.twentythree {background-color: #FAE6EA;}









.smallCashInTable {
    display: none;
}

.inflowTable {
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;
    table-layout: fixed;
}

.inflowTable th {
    background-color: #F9FAFB;
    color: #374151;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-align: left;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.inflowTable td {
    padding: 8px 12px;
    color: #374151;
    font-size: 12px;
    border-bottom: 1px solid #F3F4F6;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.inflowTable td img {
    width: 18px;
    height: 18px;
}


.inflowTable .credit {color: #1C6BFF;}
.inflowTable .debit {color: #EF4444;}

.inflowTable .status {
    padding: 3px 12px;
}

.inflowTable .paid {
    padding: 5px 10px;
    border-radius: 230px;
    width: fit-content;
    background-color: #E3FFE0;
    color: #0E801A;
    font-size: 12px;
    font-weight: 500;
}
.inflowTable .pending {
    padding: 5px 10px;
    border-radius: 230px;
    width: fit-content;
    background-color: #FFFCDC;
    color: #DAD106;
    font-size: 12px;
    font-weight: 500;
}
.inflowTable .overdue {
    padding: 5px 10px;
    border-radius: 230px;
    width: fit-content;
    background-color: #FFD4D4;
    color: #EF1C1C;
    font-size: 12px;
    font-weight: 500;
}




@media screen and (max-width: 1000px) {
    .whole {
        margin-top: 135px;
    }

    .treemapBox h5 {
        font-size: 120%;
        font-weight: 600;
    }
    .treemapBox p {
        font-size: 60%;
        font-weight: 500;
        margin-top: -5px;
    }
}

@media screen and (max-width: 850px) {

    .searchButtons {
        flex-direction: column;
        gap: 16px;
    }
    .searchBar {
        margin-right: auto;
        border-radius: 8px;
        border: 1px solid #DEDEDE;
        width: 100%;
        padding: 8px 16px;
    }
    .searchBar input {
        width: 100%;
    }
    .buttons {
        display: flex;
        gap: 8px;
        align-items: center;
    }
    .buttonOne {
        font-size: 12px;
        font-weight: 500;
        padding: 8px 12px;
    }
    .buttonTwo {
        padding: 8px 12px;
        gap: 8px;
        font-size: 12px;
        font-weight: 500;
    }
    .filter {
        top: 270px;
        right: 20%;
        width: 25%;
        min-width: 250px;
    }    
    .download {
        top: 270px;
        right: 10%;
        width: 15%;
        min-width: 170px;
    }
}

@media screen and (max-width: 62em) {

    .whole {
        padding: 24px;
    }

    .inflowTreemap {
        display: none;
    }
    .smallInflowTreemap {
        display: block;
    }
    .treemapBox h5 {
        font-size: 100%;
        font-weight: 600;
    }
    .treemapBox p {
        font-size: 60%;
        font-weight: 500;
        margin-top: -5px;
    }

    .inflowTable {
        display: none;
    }
    .smallCashInTable {
        display: block;
    }
    .smallCashInTableEntry {
        border: 1px solid #F6F6F6;
        border-radius: 5px;
        padding: 10px;
    }
    .smallCashInTableRow {
        display: flex;
        justify-content: space-between;
    }
    .greyBox,
    .whiteBox {
        flex: 1;
        padding: 8px 12px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: 14px;
        font-weight: 400;
        color: #374151;
    }
    .greyBox {
        background-color: #F9FAFB;
        font-weight: 600;
    }
    .smallCashInTableRow .credit {color: #1C6BFF;}
    .smallCashInTableRow .debit {color: #EF4444;}

    .redLine {
        width: 100%;
        border: 1px solid #F2B4C0;
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 680px) {
    .whole {
        margin-left: 0;
    }
}