.whole {
    padding: 32px 40px;
    overflow-y: auto;
    margin-top: 80px;
    margin-left: 232px;
}


.searchButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.searchBar {
    display: inline-flex;
    align-items: center;
    margin-right: 16px;
}
.searchBar img {
    width: 18px;
    height: 18px;
}
.searchBar input {
    border: none;
    outline: none;
    margin-left: 8px;
}
.searchBar input::placeholder {
    font-size: 14px;
    color: #A4A4B1;
}

.buttons {
    display: flex;
    gap: 16px;
    align-items: center;

}

.buttonOne {
    padding: 8px 12px;
    background-color: #FBE6EA;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.buttonOne:hover {
    background-color: #F4E0E4;
}
.buttonOne img,
.buttonTwo img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.buttonOne select {
    color: #A80324;
    font-size: 12px;
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: none;
}

.buttonTwo {
    padding: 8px 12px;
    background-color: #D2042D;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    color: #FFF;
    text-decoration: none;
}
.buttonTwo:hover {
    background-color: #BD0429;
}


.download a:hover {
    background-color: #E5E7EB;
    border-bottom: 1px solid #7E8491;
}
.downloadClosed {
    display: none;
}
.download {
    display: block;
    width: 15%;
    text-align: left;
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 6px;
    box-shadow: 0px 4px 12px 0px #9CA3AF33;
    padding: 8px;
    position: absolute;
    right: 2%;
    z-index: 5;
    margin-top: 5px;
}
.download p {
    font-size: 12px;
    font-weight: 600;
    color: #4B5563;
    padding: 4px 8px;
    margin-bottom: 8px;
}
.download a {
    width: 100%;
    display: inline-flex;
    padding: 12px 16px;
    font-size: 12px;
    font-weight: 500;
    color: #4B5563;
    text-decoration: none;
    border-bottom: 1px solid #F3F4F6;
}
.download a img {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.download .csv {
    border-bottom: none;
}




.nothingBigDiv {
    display: grid;
    width: 100%;
}
.nothingFound {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
}
.nothingFound img {
    width: 100%;
    height: auto;
}
.nothingFound h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #000000;
}
.nothingFound p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}




.twoGraphs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7%;
    margin-bottom: 24px;
}

.graphOne,
.graphTwo,
.graphThree {
    padding: 24px 32px;
    border-radius: 20px;
    border: 0.5px solid #C4C4C4;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.graphHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.graphHeader select {
    border-radius: 10px;
    padding: 10px 16px;
    background-color: #F8F8FF;
    border: none;
    outline: none;
}

.graphHeaderText h5 {
    font-size: 18px;
    color: #9291A5;
    font-weight: 400;
}

.graphHeaderText h3 {
    font-size: 22px;
    font-weight: 700;
    color: #1E1B39;    
}

.graphs .line {
    width: 95%;
    border: 0.5px solid #E5E5EF;
    margin-top: 22px;
    margin-bottom: 16px;
    align-self: center;
}

.graphs img {
    width: 100%;
    height: auto;
}

.graphThree img {
    width: 50%;
}


.meter {
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.meter .valuePop {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 11px;
    color: white;
    background-color: black;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.meter:hover .valuePop {
    opacity: 1;
}

