.whole {
    padding: 32px 40px;
    overflow-y: auto;
    margin-top: 80px;
    margin-left: 232px;
    width: 100%;
}


.searchButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.searchBar {
    display: inline-flex;
    align-items: center;
    margin-right: 16px;
    flex: 1;
}
.searchBar img {
    width: 18px;
    height: 18px;
}
.searchBar input {
    border: none;
    outline: none;
    margin-left: 8px;
    width: 100%;
}
.searchBar input::placeholder {
    font-size: 14px;
    color: #A4A4B1;
}

.buttonOne {
    padding: 8px 12px;
    background-color: #F0F5FD;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    margin-right: 16px;
}
.buttonOne img,
.buttonTwo img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}
.buttonOne select {
    color: #1C6BFF;
    background-color: transparent;
    border: none;
    outline: none;
    text-decoration: none;
}

.buttonTwo {
    padding: 8px 12px;
    background-color: #1C6BFF;
    border-radius: 8px;
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    color: #FFF;
    text-decoration: none;
}


.nothingBigDiv {
    display: grid;
    width: 100%;
}
.nothingFound {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
}
.nothingFound img {
    width: 100%;
    height: auto;
}
.nothingFound h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #000000;
}
.nothingFound p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}




.twoGraphs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7%;
    margin-bottom: 24px;
}

.graphOne,
.graphTwo,
.graphThree {
    padding: 24px 32px;
    border-radius: 20px;
    border: 0.5px solid #C4C4C4;
    flex: 50%;
    display: flex;
    flex-direction: column;    
}

.graphHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.graphHeader select {
    border-radius: 10px;
    padding: 10px 16px;
    background-color: #F8F8FF;
    border: none;
    outline: none;
}

.graphHeaderText h5 {
    font-size: 18px;
    color: #9291A5;
    font-weight: 400;
}

.graphHeaderText h3 {
    font-size: 22px;
    font-weight: 700;
    color: #1E1B39;    
}

.graphs .line {
    width: 95%;
    border: 0.5px solid #E5E5EF;
    margin-top: 22px;
    align-self: center;
}

.graphs img {
    margin-top: 16px;
    width: 100%;
    height: auto;
}

.graphThree img {
    width: 50%;
}


