.whole {
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    max-height: 100%;
    /* background-image: url("../../../assets/background.png");
    background-size: 100% 100%; */
}

.image {
    flex: 45%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image .background {
    width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
}

.image .whiteLogo {
    top: 0;
    left: 0;
    margin: 50px;
    position: absolute;
    width: 175px;
    height: 32px;
}

.image h4 {
    position: absolute;
    font-size: 38px;
    font-weight: 600;
    color: #FFFFFF;
    bottom: 0;
    left: 0;
    margin: 50px;
}



.signIn {
    flex: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 76px;
}

.signIn .logo {
    width: 40%;
    margin-bottom: 24px;
}



.login {
    display: flex;
    flex-direction: column;
    border: 1px solid #ED9BAB;
    background-color: #F9FAFB;
    border-radius: 18px;
    padding: 40px;
    width: 100%;
    justify-content: center;
}


.login h3 {
    font-size: 32px;
    font-weight: 600;
    color: #000000;
    align-self: center;
}

.login p {
    align-self: center;
    font-size: 14px;
    font-weight: 500;
    color: #9CA3AF;
    margin-top: 8px;
}

.login .progress {
    margin-top: 8px;
    width: 100%;
    display: flex;
}
.progress .line1 {
    flex: 1;
    border: 1px solid #D2042D;
    width: 100%;
}
.progress .line2 {
    flex: 1;
    border: 1px solid #E5E7EB;
    width: 100%;
}

form {
    display: flex;
    flex-direction: column;
}

.names {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.loginFormGroup,
.passwordFormGroup {
    margin-top: 16px;
}


.loginFormGroup input,
.loginFormGroup select,
.passwordDiv {
    width: 100%;
    padding: 10px 12px;
    border: 1px solid #D1D5DB;
    background-color: #F9FAFB;
    outline: none;
    margin-top: 4px;
}

.loginFormGroup label,
.passwordFormGroup label {
    font-size: 14px;
    color: #4B5563;
    font-weight: 500;
}

.passwordDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px 0 0;
}
.passwordFormGroup input {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    padding: 10px 0 10px 12px;
}
.passwordDiv button {
    border: none;
    cursor: pointer;
}
.passwordDiv button img {
    width: 16px;
    height: 16px;
}

.checkbox {
    margin-top: 32px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}
.checkbox label {
    font-size: 14px;
    font-weight: 500;
}


.signButton {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;
    background-color: #D2042D;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    justify-items: center;
    padding: 14px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 24px;
    margin-top: 32px;
}
.signButton:hover {
    background-color: #BD0429;
}
.signButton img {
    width: 20px;
    height: 20px;
}


.signUp {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
}
.forgot {
    align-self: flex-end;
    font-size: 14px;
    line-height: 20px;
    margin-top: 4px;
}
.login a {
    color: #D2042D;
    text-decoration: none;
}
.login a:hover {
    text-decoration: underline;
}


@media screen and (max-width: 1000px) {

    .image {
        flex: 45%
    }
    .login {
        flex: 55%
    }
    
}

@media screen and (max-width: 730px) {
    .image {
        display: none;
    }
}