.whole {
    padding: 32px 40px;
    overflow-y: auto;
    margin-top: 80px;
    margin-left: 232px;
}




.searchBar {
    display: inline-flex;
    align-items: center;
    margin-bottom: 24px;
}
.searchBar img {
    width: 18px;
    height: 18px;
}
.searchBar input {
    border: none;
    outline: none;
    margin-left: 8px;
}
.searchBar input::placeholder {
    font-size: 14px;
    color: #A4A4B1;
}





.nothingBigDiv {
    display: grid;
    width: 100%;
}
.nothingFound {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    align-items: center;
}
.nothingFound img {
    width: 100%;
    height: auto;
}
.nothingFound h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #000000;
}
.nothingFound p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}





.requestsTable {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.requestsTable th {
    background-color: #F9FAFB;
    color: #374151;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-align: left;
}

.requestsTable td {
    padding: 8px 12px;
    color: #374151;
    font-size: 12px;
    border-bottom: 1px solid #F3F4F6;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.requestsTable .status {
    padding: 3px 12px;
}
.requestsTable .approved {
    padding: 3px 10px;
    border-radius: 230px;
    width: fit-content;
    background-color: #E3FFE0;
    color: #0E801A;
    font-size: 12px;
    font-weight: 500;
}
.requestsTable .declined {
    padding: 3px 10px;
    border-radius: 230px;
    width: fit-content;
    background-color: #FFD4D4;
    color: #EF1C1C;
    font-size: 12px;
    font-weight: 500;
}


.requestsTable .checkboxColumn {
    width: 5%;
    overflow: visible;
}
.requestsTable .action {width: 7%;}


.requestsTable td img {
    width: 18px;
    height: 18px;
}
.requestsTable .action {
    text-align: center;
}
.requestsTable .action button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.actionsClosed {
    display: none;
}

.theActions {
    display: block;
    text-align: left;
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0px 4px 12px 0px #9CA3AF33;
    position: absolute;
    z-index: 5;
    width: 12%;
    right: 2%;
}
.theActions p {
    padding: 4px 8px;
    font-size: 12px;
    font-weight: 600;
}
.theActions li {
    list-style: none;
    padding: 12px 16px;
    border-bottom: 1px solid #F3F4F6;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    color: #4B5563;
    cursor: pointer;
}
.theActions li:hover {
    background-color: #E5E7EB;
    border-bottom: 1px solid #7E8491;
}





.pagination {
    margin-top: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.pagination button {
    cursor: pointer;
}
.pagination button:disabled,
.pagination button[disabled] {
    pointer-events: none;
    font-weight: 400;
}

.pagination .move {
    border: none;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #9CA3AF;
    font-weight: 500;
}
.pagination .move:hover {
    color: #878C95;
}

.pagination .move img {
    width: 18px;
    height: 18px;
}

.activePage {
    padding: 8px;
    background-color: #FBE6EA;
    border: 1px solid #ED9BAB;
    color: #D2042D;
    font-size: 14px;
    font-weight: 500;
    pointer-events: none;
}

.gotToPage {
    border: none;
    background-color: transparent;
    padding: 8px;
    color: #9CA3AF;
    font-size: 14px;
    font-weight: 500;
}
.gotToPage:hover {
    color: #878C95;
}