.whole {
    padding: 32px 40px;
    overflow-y: auto;
    margin-top: 80px;
    margin-left: 232px;
}


.searchButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.searchBar {
    display: inline-flex;
    align-items: center;
    margin-right: 16px;
}
.searchBar img {
    width: 18px;
    height: 18px;
}
.searchBar input {
    border: none;
    outline: none;
    margin-left: 8px;
}
.searchBar input::placeholder {
    font-size: 14px;
    color: #A4A4B1;
}

.buttonOne {
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #D2042D;
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}
.buttonOne:hover {
    background-color: #BD0429;
}
.buttonOne img {
    width: 16px;
    height: 16px;
}





.nothingBigDiv {
    display: grid;
    width: 100%;
}
.nothingFound {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    align-items: center;
}
.nothingFound img {
    width: 100%;
    height: auto;
}
.nothingFound h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #000000;
}
.nothingFound p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}





.investmentTable {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.investmentTable th {
    background-color: #F9FAFB;
    color: #374151;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-align: left;
}

.investmentTable td {
    padding: 8px 12px;
    color: #374151;
    font-size: 12px;
    border-bottom: 1px solid #F3F4F6;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.investmentTable .tableCheckbox {width: 5%;}





.dimmer {
    display: none;
    background: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
}

.dim {
    display: block;
    z-index: 11;
}


.popup {
    width: 35%;
    max-height: 70%;
    overflow: hidden;
    overflow-y: scroll;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 24px;
    background-color: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 100;
    border-radius: 8px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.popped {
    background: #FFF;
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.popup .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 500;
    position: sticky;
    top: 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #F3F4F6;
}

.close img {
    width: 24px;
    height: 24px;
}

.popup form {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #F3F4F6;
}

.popup .formGroup {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
}

.formGroup label {
    font-size: 14px;
    font-weight: 500;
    color: #4B5563;
    margin-bottom: 8px;
}

.formGroup input,
.formGroup select {
    width: 100%;
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    color: #9CA3AF;
    padding: 10px 12px;
    outline: none;
}

.popup button {
    padding: 10px 16px;
    border-radius: 8px;
    background-color: #D2042D;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 500;
    border: none;
    margin-top: 12px;
    align-self: end;
}
.popup button:hover {
    background-color: #BD0429;
}