table {
    border-collapse: collapse;
    width: 100%;
}

th {
    background-color: #F9FAFB;
    color: #374151;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-align: left;
}

td {
    padding: 8px 12px;
    color: #374151;
    font-size: 12px;
}