.header {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: #FFF;
    z-index: 10;
}

.logo {
    height: 100%;
    width: 232px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0D0D0D;
    border-right: 1px solid #E5E7EB;
}
.logo a {
    width: 232px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20px;
}
.logo a img {
    width: 65%;
    height: auto;
}

.leftRight {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E5E7EB;
    padding: 0 40px;
}

.header img {
    width: 24px;
    height: 24px;
    margin-right: 7%;
}

.header a img {
    margin-right: 16px;
}

.headerLeft {
    flex: 60%;
    display: flex;
    align-items: center;
    width: 100%;
}

.headerLeft h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    color: #374151;
    margin-right: 7%;
    
}
.links {
    width: 80%;
}
.links a {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    color: #9CA3AF;
    margin-right: 7%;
    text-decoration: none;
    padding: 6px 0;
    border-bottom: 2px solid transparent;
}
.links a.inactiveLink:hover {
    color: #7E8491;
}
.links .activeLink {
    color: #D2042D;
    border-bottom: 2px solid #D2042D;
}

.headerRight {
    flex: 40%;
    display: flex;
    justify-content: right;
    align-items: center;
}


.headerSearch {
    display: inline-flex;
    align-items: center;
    margin-right: 16px;
}
.headerSearch input {
    border: none;
    outline: none;
    margin-left: 8px;
}
.headerSearch input::placeholder {
    font-size: 14px;
    color: #A4A4B1;
}

.languageDiv {
    display: inline-flex;
    align-items: center;
    margin-right: 7%;
}
.languageDiv select {
    border: none;
}