.theWhole {
    background-color: #0D0D0D;
    border-right: 1px solid #E5E7EB;
    width: 232px;
    height: 100%;
    position: fixed;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.theWhole::-webkit-scrollbar {
    display: none;
}


.linkList {
    display: flex;
    flex-direction: column;
    /* margin-top: 110px; */
    margin-top: 80px;
    width: 232px;
}

.linkList a {
    padding: 8px 16px;
    margin-bottom: 16px;
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    font-size: 14px;
    line-height: 18px;
    font-weight: 500;
    color: #FFFFFF;
    gap: 8px;
    border-left: 2px solid transparent;
}
.linkList a:hover {
    background-color: #7E8491;
}
.linkList a.active {
    background-color: #F6CDD5;
    color: #D2042D;
    border-left: 2px solid #A80324;
}

.theWhole a img {
    width: 24px;
    height: 24px;
}

.linkList a .red {
    display: none;
}

.linkList a.active .red {
    display: block;
}
.linkList a.active .white {
    display: none;
}