.whole {
    padding: 32px 40px;
    overflow-y: auto;
    margin-top: 80px;
    margin-left: 232px;
}



/* .accountsDiv {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
    scrollbar-face-color: #888;
    scrollbar-track-color: #f1f1f1;
    scrollbar-shadow-color: transparent;
    scrollbar-highlight-color: transparent;
    scrollbar-3dlight-color: transparent;
    scrollbar-darkshadow-color: transparent;
} */


.accountsDiv {
    width: 100%;
    overflow: hidden;
    overflow-x: scroll;
    margin-bottom: 56px;
}


.accountsDiv::-ms-scrollbar {
    height: 8px;
}
.accountsDiv::-ms-scrollbar-track {
    background: #F1F1F1;
    border-radius: 10px;
}
.accountsDiv::-ms-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
.accountsDiv::-ms-scrollbar-thumb:hover {
    background: #555;
}
.accountsDiv::-ms-scrollbar-button {
    display: none;
}


.accountsDiv::-webkit-scrollbar {
    height: 8px;
}
.accountsDiv::-webkit-scrollbar-track {
    background: #F1F1F1;
    border-radius: 10px;
}
.accountsDiv::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}
.accountsDiv::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.accountsDiv::-webkit-scrollbar-button {
    display: none;
}









.line {
    width: 100%;
    border: 0.5px solid #E5E7EB;
    margin: 8px 0 16px 0;
}






.nothingBigDiv {
    display: grid;
    width: 100%;
}
.nothingFound {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
}
.nothingFound img {
    width: 100%;
    height: auto;
}
.nothingFound h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #000000;
}
.nothingFound p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}





.nothingBigDivTable {
    margin-top: 24px;
    display: grid;
    width: 100%;
}
.nothingFoundTable {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
}
.nothingFoundTable h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #000000;
}
.nothingFoundTable p {
    margin-top: 12px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}








.buttons {
    text-align: right;
    display: flex;
    gap: 16px;
}


.buttonOne {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    font-weight: 500;
    color: #A80324;
    background-color: #FBE6EA;
    border: none;
    border-radius: 6px;
    padding: 8px 12px;
    gap: 8px;
}
.buttonOne:hover {
    background-color: #F4E0E4;
}

.buttonTwo {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    background-color: #D2042D;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    padding: 10px 16px;
    gap: 8px;
}
.buttonTwo:hover {
    background-color: #BD0429;
}

.buttonOne img,
.buttonTwo img {
    width: 16px;
    height: 16px;
}

.filterClosed,
.exportClosed {
    display: none;
}


.filter {
    display: block;
    right: 5%;
    width: 20%;
    text-align: left;
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    box-shadow: 0px 4px 12px 0px #9CA3AF33;
    padding: 8px;
    position: absolute;
    z-index: 5;
    margin-top: 50px;
}
.filter p {
    padding: 4px 8px;
    margin-bottom: 16px;
    font-size: 12px;
    font-weight: 600;
    color: #4B5563;
}
.filter a {
    display: block;
    padding: 12px 16px;
    border-bottom: 1px solid #F3F4F6;
    font-size: 12px;
    font-weight: 500;
    color: #4B5563;
    text-decoration: none;
}
.filter a:hover,
.download a:hover {
    background-color: #E5E7EB;
    border-bottom: 1px solid #7E8491;
}
.filter .customFilter {
    margin-top: 16px;
    padding: 4px 8px;
    margin-bottom: 16px;
    width: 100%;
}
.filter .customFilter p {
    font-size: 10px;
}
.customFilter .startEnd {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    justify-content: center;
}
.customFilter .startEnd input {
    text-align: center;
    padding: 12px 16px;
    width: 45%;
    border: 1px solid #6B7280;
    font-size: 14px;
    font-weight: 400;
    color: #4B5563;
    padding: 10px 12px;
    outline: none;
}
.customFilter .startEnd input::placeholder {
    font-size: 14px;
    color: #4B5563;
}

.filter .reset {
    padding: 16px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    color: #DC2626;
    border-top: 1px solid #F3F4F6;
    border-bottom: none;
}
.filter .reset:hover {
    background-color: #FEE2E2;
    border-top: 1px solid #DC2626;
    border-bottom: none;
}




.export {
    display: block;
    width: 30%;
    text-align: left;
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    border-radius: 8px;
    box-shadow: 0px 4px 12px 0px #9CA3AF33;
    position: absolute;
    z-index: 5;
    margin-top: 50px;
    right: 50px;
}

.export .exportHeader {
    display: flex;
    justify-content: space-between;
    padding: 16px 24px;
    border-bottom: 1px solid #F3F4F6;
}
.exportHeader img {
    width: 24px;
    height: 24px;
}

.exportForm {
    padding: 24px;
    display: flex;
    gap: 5%;
}
.exportFormGroup {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.exportFormGroup label {
    font-size: 14px;
    font-weight: 500;
    color: #4B5563;
    margin-bottom: 8px;
}
.exportFormGroup input {
    padding: 10px 12px;
    text-align: center;
    padding: 12px 16px;
    border: 1px solid #6B7280;
    font-size: 14px;
    font-weight: 400;
    color: #4B5563;
    outline: none;
}

.exportButton {
    padding: 24px;
}
.exportButton button {
    width: 100%;
    padding: 14px 20px;
    background-color: #D2042D;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    border: none;
    border-radius: 8px;
}
.exportButton button:hover {
    background-color: #BD0429;
}



.successPopup {
    width: 30%;
    max-height: 70%;
    overflow: hidden;
    overflow-y: scroll;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    z-index: 100;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    padding: 24px;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.successPopup::-webkit-scrollbar {
    display: none;
}

.successPopped {
    top: 50%;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
}

.successPopup img {
    width: 60%;
    height: auto;
}

.successPopup h4 {
    font-size: 24px;
    font-weight: 500;
    color: #000000;
}

.successPopup button {
    margin-top: 10%;
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 14px 20px;
    border-radius: 8px;
    background-color: #D2042D;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    border: none;
    align-self: end;
}
.successPopup button:hover {
    background-color: #BD0429;
}




.dimmer {
    display: none;
    background: #000;
    opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    user-select: none;
}

.dim {
    display: block;
    z-index: 11;
}




.hide {
    display: none;
}



.accountsTable {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.accountsTable th {
    background-color: #F9FAFB;
    color: #374151;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-align: left;
}

.accountsTable td {
    padding: 8px 12px;
    color: #374151;
    font-size: 12px;
    border-bottom: 1px solid #F3F4F6;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}





.pagination {
    margin-top: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.pagination button {
    cursor: pointer;
}
.pagination button:disabled,
.pagination button[disabled] {
    pointer-events: none;
    font-weight: 400;
}

.pagination .move {
    border: none;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #9CA3AF;
    font-weight: 500;
}
.pagination .move:hover {
    color: #878C95;
}

.pagination .move img {
    width: 18px;
    height: 18px;
}

.activePage {
    padding: 8px;
    background-color: #FBE6EA;
    border: 1px solid #ED9BAB;
    color: #D2042D;
    font-size: 14px;
    font-weight: 500;
    pointer-events: none;
}

.gotToPage {
    border: none;
    background-color: transparent;
    padding: 8px;
    color: #9CA3AF;
    font-size: 14px;
    font-weight: 500;
}
.gotToPage:hover {
    color: #878C95;
}