.whole {
    padding: 32px 40px;
    overflow-y: auto;
    margin-top: 80px;
    margin-left: 232px;
}


.searchButtons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.searchBar {
    display: inline-flex;
    align-items: center;
    margin-right: 16px;
}
.searchBar img {
    width: 18px;
    height: 18px;
}
.searchBar input {
    border: none;
    outline: none;
    margin-left: 8px;
}
.searchBar input::placeholder {
    font-size: 14px;
    color: #A4A4B1;
}


.buttonOne,
.buttonTwo {
    display: inline-flex;
    align-items: center;
    margin-right: 16px;
    font-size: 12px;
    font-weight: 500;
    color: #1F2937;
}
.buttonOne select,
.buttonTwo select {
    outline: none;
    border: none;
    background-color: transparent;
    font-size: 12px;
    font-weight: 500;
    color: #1F2937;
    width: fit-content;
}

.buttonThree {
    padding: 8px 12px;
    border-radius: 8px;
    background-color: #D2042D;
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}
.buttonThree:hover {
    background-color: #BD0429;
}
.buttonThree img {
    width: 16px;
    height: 16px;
}





.nothingBigDiv {
    display: grid;
    width: 100%;
}
.nothingFound {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    align-items: center;
}
.nothingFound img {
    width: 100%;
    height: auto;
}
.nothingFound h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #000000;
}
.nothingFound p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}





.userTable {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.userTable th {
    background-color: #F9FAFB;
    color: #374151;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-align: left;
}

.userTable td {
    padding: 8px 12px;
    color: #374151;
    font-size: 12px;
    border-bottom: 1px solid #F3F4F6;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userTable .tableCheckbox {width: 5%;}
.userTable .checkbox {overflow: visible;}
.userTable .action {width: 7%;}


.userTable .active {color: #1C6BFF;}
.userTable .inactive {color: #F59E0B;}


.userTable td img {
    width: 18px;
    height: 18px;
}
.userTable .action {
    text-align: center;
}
.userTable .action button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.actionsClosed {
    display: none;
}

.theActions {
    display: block;
    text-align: left;
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    box-shadow: 0px 4px 12px 0px #9CA3AF33;
    position: absolute;
    z-index: 5;
    width: 10%;
    right: 2%;
}

.theActions li {
    list-style: none;
    padding: 12px 16px;
    border-bottom: 1px solid #F3F4F6;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    color: #4B5563;
    cursor: pointer;
}
.theActions li:hover {
    background-color: #E5E7EB;
    border-bottom: 1px solid #7E8491;
}

.theActions .delete {
    background-color: #FEF2F2;
    border-bottom: 1px solid #FEE2E2;
    color: #DC2626;
}
.theActions .delete:hover {
    background-color: #FEE2E2;
    border-bottom: 1px solid #DC2626;
}