.whole {
    padding: 32px 40px;
    overflow-y: auto;
    margin-top: 80px;
    margin-left: 232px;
    width: 100%;
}




.searchBar {
    display: inline-flex;
    align-items: center;
    margin-bottom: 24px;
}
.searchBar img {
    width: 18px;
    height: 18px;
}
.searchBar input {
    border: none;
    outline: none;
    margin-left: 8px;
}
.searchBar input::placeholder {
    font-size: 14px;
    color: #A4A4B1;
}





.nothingBigDiv {
    display: grid;
    width: 100%;
}
.nothingFound {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    text-align: center;
    align-items: center;
}
.nothingFound img {
    width: 100%;
    height: auto;
}
.nothingFound h2 {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    color: #000000;
}
.nothingFound p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}





.auditTrailsTable {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

.auditTrailsTable th {
    background-color: #F9FAFB;
    color: #374151;
    padding: 8px 12px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    text-align: left;
}

.auditTrailsTable td {
    padding: 8px 12px;
    color: #374151;
    font-size: 12px;
    border-bottom: 1px solid #F3F4F6;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.auditTrailsTable .action {width: 7%;}


.auditTrailsTable td img {
    width: 18px;
    height: 18px;
}
.auditTrailsTable .action {
    text-align: center;
}
.auditTrailsTable .action button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.actionsClosed {
    display: none;
}

.theActions {
    display: block;
    text-align: left;
    background-color: #FFFFFF;
    border: 1px solid #E5E7EB;
    box-shadow: 0px 4px 12px 0px #9CA3AF33;
    position: absolute;
    z-index: 5;
    width: 10%;
    right: 2%;
}

.theActions li {
    list-style: none;
    padding: 12px 16px;
    border-bottom: 1px solid #F3F4F6;
    width: 100%;
}

.theActions .delete {
    background-color: #FEF2F2;
    border-bottom: 1px solid #FEE2E2;
}
.theActions .delete a {
    color: #DC2626;
}
.theActions .delete:hover {
    background-color: #FEE2E2;
    border-bottom: 1px solid #DC2626;
}

.theActions li a {
    display: block;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    color: #4B5563;
    width: 100%;
    height: 100%;
}

.theActions li:hover {
    background-color: #F0F5FD;
    border-bottom: 1px solid #A4C4FF;
}





.pagination {
    margin-top: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.pagination button {
    cursor: pointer;
}
.pagination button:disabled,
.pagination button[disabled] {
    pointer-events: none;
    font-weight: 400;
}

.pagination .move {
    border: none;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: #9CA3AF;
    font-weight: 500;
}

.pagination .move img {
    width: 18px;
    height: 18px;
}

.activePage {
    padding: 8px;
    background-color: #FBE6EA;
    border: 1px solid #ED9BAB;
    color: #D2042D;
    font-size: 14px;
    font-weight: 500;
    pointer-events: none;
}

.gotToPage {
    border: none;
    background-color: transparent;
    padding: 8px;
    color: #9CA3AF;
    font-size: 14px;
    font-weight: 500;
}